:root
{
    --pink-beige: #F9DBBD;
    --pink-light: #FFA5AB;
    --pink-medium: #DA627D;
    --pink-light-dark: #A53860;
    --pink-dark: #450920;
}

/* ------ GENERAL ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body {
    background-color: var(--pink-beige);
}

h1,
h2,
h3,
h4,
h5,
a {
    color: var(--pink-dark);
}

.btn-primary {
    --bs-btn-bg: var(--pink-light-dark);
    --bs-btn-border-color: var(--pink-light-dark);

    --bs-btn-hover-bg: var(--pink-medium);
    --bs-btn-hover-border-color: var(--pink-medium);

    --bs-btn-active-bg: var(--pink-medium);
    --bs-btn-active-border-color: var(--pink-medium);

    --bs-btn-disabled-bg: var(--pink-light);
    --bs-btn-disabled-border-color: var(--pink-light);
}

.btn-primary,
a {
    cursor:pointer;
}

/* navbar */
.navbar-mindy {
    background-color: var(--pink-light);
}

.navbar-mindy,
.navbar-brand {
    font-size: larger;
    font-weight: bold;
}

.navbar-mindy img {
    max-height: 3rem;
}

.navbar-mindy a {
    color: var(--pink-light-dark);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.offcanvas-title {
    color: var(--pink-dark);
}

/* footer */
footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--pink-light);
    color: var(--pink-dark);
    font-family: monospace;
}

.copyr {
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
}

.list-group {
    --bs-list-group-bg: var(--pink-medium);
    --bs-list-group-border-color: var(--pink-medium);
    gap: 1rem;
}

.list-group-horizontal > .list-group-item,
.list-group-horizontal > .list-group-item:first-child:not(:last-child),
.list-group-horizontal > .list-group-item:last-child:not(:first-child) {
    border-radius: 50%;
}

.list-group-item a {
    color: white;
    font-size: larger;
}

/* ------ CART ------ */

.card-cart {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    background-color: var(--pink-beige);
    border: 0.2rem var(--pink-medium) solid;
    border-radius: 2rem;

    -webkit-box-shadow: 0px 0px 40px 15px var(--pink-medium);
    -moz-box-shadow: 0px 0px 40px 15px var(--pink-medium);
    box-shadow: 0px 0px 40px 15px var(--pink-medium);
}

/* phones: <576px (xs | col-x) */
@media only screen and (max-width: 575px) {
    .back-cart {
        margin: auto 1rem;
    }

    .card-cart {
        width: 90%;
        padding: 1.5rem;
        gap: 1rem;
    }

    footer {
        padding: 1.5rem 0rem;
    }
}

/* tablets: 576px a 768px (sm | col-sm-x) */
@media only screen and (min-width: 576px) {
    .back-cart {
        margin: auto 1rem;
    }

    .card-cart {
        width: 85%;
        padding: 2rem;
    }

    footer {
        padding: 1.5rem 0rem;
    }
}

/* small pc: 768px a 992px (md | col-md-x) */
@media only screen and (min-width: 768px)
{
    .card-cart {
        width: 80%;
        gap: 0;
    }

    .summary {
        border-left: 0.2rem solid var(--pink-medium);
        padding-left: 2rem;
    }
}

/* medium pc: 992px a 1200px (lg | col-lg-x) */
@media only screen and (min-width: 992px) {
    .card-cart {
        width: 75%;
        padding: 3rem 4rem;
    }

    .summary {
        padding-left: 3rem;
    }
}

/* large pc: 1200px a 1400 (xl | col-xl-x) */
@media only screen and (min-width: 1200px) {
    .card-cart {
        padding: 4rem 5rem;
    }

    .summary {
        padding-left: 4rem;
    }
}
