:root
{
    --pink-beige: #F9DBBD;
    --pink-light: #FFA5AB;
    --pink-medium: #DA627D;
    --pink-light-dark: #A53860;
    --pink-dark: #450920;
    --pink-light-op: #c3898d7d;
}

a {
    text-decoration: none;
}

/*------------------- hero---------------*/

.hero-header {
    background: url(../images/hero.jpg) top right no-repeat;
    background-size: cover;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    line-height: 1.2;
    gap: 0.8rem;
}

.hero-container h1{
    font-size: 5.525rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--pink-medium);
}

.hero-container h2{
    font-size: 3.175rem;
    text-transform: uppercase;
}

.hero-container p{
    font-size: 2.2rem;
    text-align: center;
}

/*---------- about us -----------*/

.main-about {
    width: 90%;
}

.container-about-mindy {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-about-mindy h1,
.container-prod-mindy h1,
.container-offer-mindy h1,
.header-blog-mindy h1 {
    font-size: 3.645rem;
}

.container-about-mindy h4 {
    font-size: 2.435rem;
}

.container-about-mindy h6,
.container-about-mindy p,
.container-about-mindy button,
.container-prod-mindy h6,
.container-offer-mindy h6,
.container-offer-mindy p,
.header-blog-mindy h6 {
    font-size: 1.6rem;
}

.section-about-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-mindy {
    border-left: 5px solid var(--pink-medium);
    /*padding-left: 5rem;*/
    margin-bottom: 5rem;
}

.text {
    color: var(--pink-medium);
}

.p-mision-vision {
    padding: 2rem;
}

.btn-hover-about:hover {
    color: var(--pink-light-dark);
}

/*--------- cards products --------*/

.header-prod-mindy {
    padding: 0 10%;
    padding-top: 5rem;
}

.container-prod-mindy {
    text-transform: uppercase;
}

.container-prod-mindy h1 {
    color: #212529;
    font-weight: 300;
}

.container-prod-mindy h6 {
    color: var(--pink-light-dark);
}

.swiper {
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-bottom: 5rem;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 25vw;
    height: auto;
}

.swiper-slide img {
    display: block;
    width: 100%;
}

/*------- offer -----------*/

.main-offer {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0% 10%;
}

.flex-offer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bg-offer {
    background: url(../images/offer.jpg) top right no-repeat;
    background-size: cover;
}

.border-mindy-dark {
    border-left: 5px solid var(--pink-light-dark);
}

.link-as-btn {
    align-self: flex-start;
    display: flex;
    gap: 2rem;
}

.link-as-btn a {
    font-size: 1.6rem;
    padding: 2rem 4rem;
}

/*----------blog -----------*/

.main-blog-mindy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    font-size: 1.6rem;
    margin: 5rem;
}

.flex-blog-mindy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5rem;
    flex-wrap: wrap;
}

.blog-img-div {
    display: flex;
}

.blog-img-div img {
    width: 100%;
    height: auto;
}

/*----------footer -----------*/

.footer{
    display: flex;
    justify-content: space-around;
}

/* ------ MEDIA ------ */

/* phones: <576px (xs | col-x) */
@media only screen and (max-width: 575px) {
    .main-about {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .container-about-mindy {
        gap: 3rem;
    }

    .section-about-img img {
        width: 100%;
        height: auto;
    }

    .blog-img-div img {
        height: 50vh;
        object-fit: cover;
    }
}

/* tablets: 576px a 768px (sm | col-sm-x) */
@media only screen and (min-width: 576px) {
    .main-about {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .container-about-mindy {
        gap: 3rem;
    }

    .section-about-img img {
        width: 100%;
        height: auto;
    }

    .blog-img-div img {
        height: 50vh;
        object-fit: contain;
        padding: 2rem;
    }
}

/* small pc: 768px a 992px (md | col-md-x) */
@media only screen and (min-width: 768px) {
    .main-about {
        margin-top: 10rem;
    }

    .section-about-img {
        width: 35%;
    }

    .section-about-txt {
        width: 60%;
    }

    .flex-blog-mindy {
        flex-direction: row;
        gap: 2rem;
    }

    .blog-item {
        width: 48%;
    }

    .blog-img-div img {
        height: 50vh;
        object-fit: cover;
    }
}

/* medium pc: 992px a 1200px (lg | col-lg-x) */
@media only screen and (min-width: 992px) {
}

/* large pc: 1200px a 1400 (xl | col-xl-x) */
@media only screen and (min-width: 1200px) {
}

/* large pc: 1400 + (xl | col-xl-x) */
@media only screen and (min-width: 1400px) {
}
