:root
{
    --pink-beige: #F9DBBD;
    --pink-light: #FFA5AB;
    --pink-medium: #DA627D;
    --pink-light-dark: #A53860;
    --pink-dark: #450920;
    --pink-light-op: #c3898d7d;
}

/* ------ GENERAL ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-size: 62.5%;
}

body {
    background-color: var(--pink-beige);
}

h1,
h2,
h3,
h4,
h5,
a {
    color: var(--pink-dark);
}

.btn-primary,
a {
    cursor:pointer;
}

.btn-primary {
    --bs-btn-bg: var(--pink-light-dark);
    --bs-btn-border-color: var(--pink-light-dark);

    --bs-btn-hover-bg: var(--pink-medium);
    --bs-btn-hover-border-color: var(--pink-medium);

    --bs-btn-active-bg: var(--pink-medium);
    --bs-btn-active-border-color: var(--pink-medium);

    --bs-btn-disabled-bg: var(--pink-light);
    --bs-btn-disabled-border-color: var(--pink-light);
}

.btn-outline-success {
    --bs-btn-color: var(--pink-medium);
    --bs-btn-border-color: var(--pink-medium);

    --bs-btn-hover-bg: var(--pink-medium);
    --bs-btn-hover-border-color: var(--pink-medium);

    --bs-btn-active-bg: var(--pink-medium);
    --bs-btn-active-border-color: var(--pink-medium);

    --bs-btn-disabled-color: var(--pink-medium);
    --bs-btn-disabled-border-color: var(--pink-medium);
}

option:checked {
    color: var(--pink-light);
}

/* navbar */
.navbar-mindy {
    background-color: var(--pink-light);
}

.navbar-mindy,
.navbar-brand {
    font-size: larger;
    font-weight: bold;
}

.navbar-mindy img {
    max-height: 3rem;
}

.navbar-mindy a {
    color: var(--pink-light-dark);
}

.navbar-mindy-two {
    background-color: var(--pink-light-op);
}

.nav-link-mindy {
    font-size: 2rem;
}

.badge-mindy {
    background-color: var(--pink-light-dark);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.offcanvas-title {
    color: var(--pink-dark);
}

.offcanvas-mindy-two {
    display: flex;
    justify-content: flex-end;
}

/* footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer i {
    color: var(--pink-medium);
}

footer .social i {
    color: white;
}

footer a {
    text-decoration: none;
}

.btn-mindy-two {
    background-color: var(--pink-light-dark);
    color: white;
    border: 1px solid var(--pink-light-dark);
    border-radius: 50%;
}

.btn-mindy-two:hover {
    color: var(--pink-light-dark);
    border: 1px solid var(--pink-light-dark);
    border-radius: 50%;
}

.bg-light-mindy {
    background-color: var(--pink-light);
}

.bg-dark-mindy {
    background-color: var(--pink-dark);
}

.copyr {
    display: flex;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
}

.footer-sup {
    display: flex;
    justify-content: space-around;
}

/* ------ TOYS ------ */

.filters {
    display: flex;
    justify-content: space-between;
}

.grid-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-mindy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product_item_hover {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    list-style-type: none;
    padding-left: 0rem;
    visibility: hidden;
}

.card-mindy img:hover + .product_item_hover,
.product_item_hover:hover {
    visibility: visible;
    color: var(--pink-light-dark);
}

/* ------ MEDIA ------ */

/* phones: <576px (xs | col-x) */
@media only screen and (max-width: 575px) {
    /* section navbar */
    .navbar {
        --bs-navbar-padding-y: 1rem;
    }

    .navbar-brand {
        margin-left: 0.5rem;
    }

    .navbar-toggler {
        margin-right: 0.5rem;
    }

    /* section main */
    .back-toys {
        margin: auto 1rem;
    }

    .filters {
        width: 65%;
        padding-top: 2rem;
    }

    .grid-cards {
        width: 80%;
        gap: 1rem;
        padding: 1.5rem 0rem;
    }

    .container-cards {
        gap: 1.5rem;
    }

    .container-cards img {
        width: 25vw;
        height: auto;
    }

    .card-mindy {
        width: 30vw;
        padding: 1rem;
    }
}

/* tablets: 576px a 768px (sm | col-sm-x) */
@media only screen and (min-width: 576px) {
    /* section navbar */
    .navbar {
        --bs-navbar-padding-y: 1rem;
    }

    .navbar-brand {
        margin-left: 6rem;
    }

    .navbar-toggler {
        margin-right: 6rem;
    }

    /* section main */
    .back-toys {
        margin: auto 1rem;
    }

    .filters {
        width: 65%;
        padding-top: 3rem;
    }

    .grid-cards {
        width: 80%;
        gap: 1.5rem;
        padding: 1.5rem 0rem;
        margin-top: 1rem;
    }

    .container-cards {
        gap: 2.5rem;
    }

    .container-cards img {
        width: 24vw;
        height: auto;
    }

    .card-mindy {
        padding: 1.5rem;
        width: 30vw;
    }
}

/* small pc: 768px a 992px (md | col-md-x) */
@media only screen and (min-width: 768px) {
    /* section navbar */
    .navbar {
        --bs-navbar-padding-y: 1.5rem;
    }

    .navbar-brand {
        margin-left: 10%;
    }

    .navbar-mindy-two {
        margin-right: 10%;
    }

    /* section main */
    .back-toys {
        gap: 1rem;
    }

    .filters {
        padding-top: 3.5rem;
    }

    .grid-cards {
        gap: 2rem;
        padding: 1rem 0rem;
    }

    .container-cards {
        gap: 3rem;
    }

    .container-cards img {
        width: 17vw;
        height: auto;
    }

    .card-mindy {
        padding: 1.5rem;
        width: 20vw;
    }

    .summary {
        border-left: 0.2rem solid var(--pink-medium);
        padding-left: 2rem;
    }
}

/* medium pc: 992px a 1200px (lg | col-lg-x) */
@media only screen and (min-width: 992px) {
    /* section navbar */
    .navbar-brand {
        margin-left: 10%;
    }

    .navbar-mindy-two {
        margin-right: 10%;
    }

    /* section main */
    .grid-cards {
        width: 80%;
        gap: 3rem;
    }

    .container-cards {
        gap: 3.5rem;
    }

    .container-cards img {
        width: 14vw;
        height: auto;
    }

    .card-mindy {
        width: 17vw;
    }

    .summary {
        padding-left: 3rem;
    }
}

/* large pc: 1200px a 1400 (xl | col-xl-x) */
@media only screen and (min-width: 1200px) {
    /* section navbar */
    .navbar {
        --bs-navbar-padding-y: 1.8rem;
    }

    /* section main */
    .filters {
        padding-top: 4rem;
    }

    .container-cards img {
        width: 13vw;
        height: auto;
    }

    .summary {
        padding-left: 4rem;
    }
}

/* large pc: 1400 + (xl | col-xl-x) */
@media only screen and (min-width: 1400px) {
    /* section main */
    .filters {
        padding-top: 5rem;
    }

    .container-cards img {
        width: 13vw;
        height: auto;
    }

    .card-mindy {
        width: 17vw;
    }
}
